@tailwind base;
@tailwind components;
@tailwind utilities;

@-webkit-keyframes rotateDiscoBall {
    0% {
      -webkit-transform: rotateX(90deg) rotateZ(0deg) rotate(0deg);
    }
    100% {
      -webkit-transform: rotateX(90deg) rotateZ(360deg) rotate(0deg);
    }
  }
  
  @keyframes rotateDiscoBall {
    0% {
      transform: rotateX(90deg) rotateZ(0deg) rotate(0deg);
    }
    100% {
      transform: rotateX(90deg) rotateZ(360deg) rotate(0deg);
    }
  }
  
  @-webkit-keyframes reflect {
    0% {
      -webkit-filter: brightness(40%);
    }
    50% {
      -webkit-filter: brightness(120%);
    }
    100% {
      -webkit-filter: brightness(90%);
    }
  }
  
  @keyframes reflect {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.15;
    }
    100% {
      opacity: 1;
    }
  }
  
  #discoBall {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    z-index: 50;
    -webkit-animation: rotateDiscoBall 15s linear infinite;
    animation: rotateDiscoBall 15s linear infinite;
  }
  
  .square {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transform: rotateX(90deg) rotateY(0deg) translateZ(0px);
  }
  
@keyframes animatedLogoHand {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animated-path {
  animation: animatedLogoHand 0.5s infinite ease-in-out;
  transform-origin: 32% 60%;
}
