@tailwind base;
@tailwind components;
@tailwind utilities;

@-webkit-keyframes rotateDiscoBall {
  0% {
    -webkit-transform: rotateX(90deg) rotateZ(0deg) rotate(0deg);
  }
  100% {
    -webkit-transform: rotateX(90deg) rotateZ(360deg) rotate(0deg);
  }
}

@keyframes rotateDiscoBall {
  0% {
    transform: rotateX(90deg) rotateZ(0deg) rotate(0deg);
  }
  100% {
    transform: rotateX(90deg) rotateZ(360deg) rotate(0deg);
  }
}

@-webkit-keyframes reflect {
  0% {
    -webkit-filter: brightness(40%);
  }
  50% {
    -webkit-filter: brightness(120%);
  }
  100% {
    -webkit-filter: brightness(90%);
  }
}

@keyframes reflect {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

#discoBall {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  z-index: 50;
  /* width: 250px !important;
  height: 250px !important; */
  position: absolute;
  right: 40px;
  top: -90px;
  margin-left: -50px;
  -webkit-animation: rotateDiscoBall 15s linear infinite;
  animation: rotateDiscoBall 15s linear infinite;
}

.square {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  position: absolute;
  top: 50px;
  left: 50px;
  width: 6px;
  height: 6px;
  position: absolute;
  transform: rotateX(90deg) rotateY(0deg) translateZ(0px);
}

#discoBallLight {
  width: 250px;
  height: 250px;
  position: absolute;
  right: 40px;
  top: -90px;
  margin-left: -50px;
  border-radius: 100%;
  background-color: white;
  z-index: 40;
  opacity: 0.5;
}
